<div class="text-center">
    <h1 class="display-4">CRUD Agencia de Viajes</h1>
</div>

<div>
    @model List<MVC_Viajes.Models.Viaje>

    @{
        ViewBag.Title = "Viajes";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script type="text/javascript">
        function confirmar() {
            return confirm("Desea eliminar este registro?");
        }
    </script>

    <h2>Lista de viajes:</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Plazas
            </th>
            <th>
                Destino
            </th>
            <th>
                Origen
            </th>
            <th>
                Precio
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plazas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { onclick = "return confirmar();" })
                </td>
            </tr>
        }

    </table>
</div>


